<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SIQuestion</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="game in games">
                    <a href="#/{{game.id}}">{{game.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">

        <table class="table" border="1">
            <tr>
                <th>User</th>
                <th>Points</th>
            </tr>
            <tr ng-repeat="user in users | orderBy:'points':true">
                <td class="field">{{user.name}} </td><td class="field">{{user.points}}</td>
            </tr>
        </table>
    </div>
</div>




<br/>
<br/>
<br/>

<a href="#/createUser">Register user</a>

<br/>

<form ng-submit="submitLoginUser()" ng-show="!currentUser.isLogged">
    <input type="text" ng-model="fields.user" name="email" />
    <input type="password" ng-model="fields.password" name="password" />
    <input type="submit" id="submit" value="Submit" />
</form>

<b ng-show="currentUser.isLogged">Logged user: {{currentUser.email}} </b>